#test {
    font-size: 200px;
}
#result {
    border: dashed 2px blue;
    width: auto;
}
button {
    height: 20px;
    width: 200px;
    margin-top: 5px;
}
.main-flex{
    width: 100%;
    height: 100%;
    margin: auto;
    text-align: center;
}
main{
    border: dashed 2px black;
    margin: 5px 100px 5px 100px;
}